* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {

    margin-top: 44px;
    margin-left: 76px;
}

.link-header {

    font-size: 24px;
    color: #989D9C;
    margin-right: 24px;
    font-weight: 600;
    cursor: pointer;
    line-height: 29px;
}

.logo-image {
    width: 568px;
    height: 500px;
    margin: 44px 86px 144px 76px;
    display: inline-block;
}
section{
    display: inline-block;
}
.button-header {
    color: #FFF;
    padding: 4px;
    border-radius: 20.5px;
    background: #665AE1;
    border: none;
    width: 130px;
    height: 41px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
    cursor: pointer;
}
h1{
font-size: 100px;
color: #515151;
font-weight: 900;
line-height: 122px;
}
h2{
    font-size: 58px;
    color: #515151;
    font-weight: 500;
    line-height: 71px;
}
p{
    font-size: 24px;
    color: #515151;
    font-weight: 400;
    line-height: 29px; 
    width: 512px;  
    margin-top: 32px;
    margin-bottom: 65px;
}
.button-main {
background: #ADFF00;
border-radius: 20.5px;
width: 239px;
height: 64px;
color: #000;
font-size: 28px;
font-weight: 700;
line-height:34px;
border: none;
cursor: pointer;
filter: drop-shadow(0px 4px 4px  rgba(0, 0, 0, 0.25));
} 
@media screen and ( max-width: 1870px)and (orientation:landscape){
    body{
    
        height: 100vh;
    }
}
@media ( max-width: 887px){
    header{
        margin-left: 50px;
    }
}